<div class="container">
  <div class="hero">
    <div class="title headline">Login Graphic Here</div>
  </div>
  <div class="main">
    <div class="title headline">Login</div>
    <div class="login-form">
      <input id="username" class="login-input" type="text" placeholder="Username" />
      <input class="login-input" type="password" placeholder="Password" />
      <div class="button-container">
        <div class="login-button inactive">Login</div>
      </div>
    </div>
  </div>
</div>