.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 6.3em;
  width: 28%;
}

.sidebar .post {
  font-size: 1.2em;
  letter-spacing: 1px;
  padding: .5em 3em;
  text-align: center;
  color: #666;
}

.editor-container {
  display: flex;
  flex-direction: row;
}

.editor {
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-top: 6em;
  width:100%;
}

input.title {
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  font-size: 3em;
  color: #333;
}

textarea.content {
  border: none;
  outline: none;
  font-size: 1em;
  color: #333;
  height:100%;
  resize: none;
  padding: 0;
}

.editor-panel {
  width: 27%;
  height: 100%;
  padding-top: 17em;
  padding-left: 3em;
}

.button-container-vertical {
  display:flex;
  flex-direction: column;
}

.editor-panel .button {
  width: 18em;
}

.editor-panel .button.create {
  background-color: #FF8F8F;
  color: #D95A5A;
  border: none;
}

.editor-panel .button.draft {
  background-color: #FFC28F;
  color: #D9945A;
  border: none;
}

.editor-panel .button.trash {
  background-color: #CD7385;
  color: #AE4882;
  border: none;
}