.post-container {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  color: #333;
}

.post-container .post {
  padding-top: 5em;
}

.post-container .post h1 {
  font-size: 3em;
  letter-spacing: 0.05em;
  font-weight: bold;
}
.post-container .post p {
  padding-top: 1em;
}

.header-1 {
  font-size: 2.3em;
  font-weight: bold;
}

.header-2 {
  font-size: 2em;
}

.header-3 {
  font-size: 1.6em;
  letter-spacing: 0.07em;
}

.header-4 {
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.header-5 {
  font-size: 1.3em;
}

.header-6 {
  font-size: 1.2em;
}

.paragraph {
  line-height: 1.6em;
  margin: 2em 0;
}
